# Submappen die je niet wilt volgen in Git
/old_code/
/plots_output/
dev/

# Specifiek helperbestand niet tracken
/R/functielijst_per_script.txt

# RStudio gerelateerde bestanden die per machine verschillen
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# alle zip bestanden negeren
*.zip 

# Package build output en checks
*.Rcheck/
*.tar.gz

# Overige tijdelijke bestanden (OS)
.DS_Store
Thumbs.db