# .gitignore

# Negeer submap 'old_code'
/old_code/

# Negeer de volledige map 'plots_output'
/plots_output/
dev/

# Negeer specifiek bestand binnen submap R
/R/functielijst_per_script.txt
.Rproj.user

.Ruserdata

# R build artefacten
.Rbuildignore
.Rproj.user/
.Rhistory
.RData

# Package build output
*.Rcheck/
*.tar.gz
*.Rproj

# RStudio
.Rproj.user/

# Overige tijdelijke bestanden
.DS_Store
Thumbs.db